.banner_detail {
  padding: 20px;
}

.banner_detail h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.banner_detail img {
  max-width: 100%;
  width: 60%;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.banner_detail p {
  font-size: 1rem;
  color: #555;
}
