@import "../../../assets/scss/keyframes.scss";

.searchBox {
  // background-color: rgba(#111, .9);
  // backdrop-filter: 6px;
  background: rgba(18, 18, 18, 0.95);
  backdrop-filter: blur(6px);
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 1rem;
  overflow: hidden;
  // height: 500px;
  animation: searchBox .3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0;
  min-height: 10rem;
  max-height: 50rem;
  overflow: auto;
  padding-bottom: 1rem;
}