.loginForm {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    position: fixed;
    top: 2rem;
    bottom: 2rem;
    // right: 2rem;
    // left: 2rem;
    border-radius: 1rem;
    overflow: auto;
    background-color: rgba(12, 12, 12, .9);
    backdrop-filter: blur(6px);
    padding: 8rem 3rem 3rem 3rem;

    &Wrapper {
      padding-top: 5rem;
      padding-bottom: 2rem;
    }

    form {
      // display: flex;
      // flex-direction: column;
      // gap: 1rem;
    }

    // .background {
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     z-index: -2;
    //     background: rgba(18, 18, 18, .9);
    //     backdrop-filter: blur(6px);
    //   }

    //   &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     // z-index: -1;
    //     opacity: .08;
    //     // background-image: radial-gradient(#ffffff40, #fff0 40%), radial-gradient(hsl(44, 100%, 66%) 30%, hsl(338, 68%, 65%), hsla(338, 68%, 65%, .4) 41%, transparent 52%), radial-gradient(hsl(272, 100%, 60%) 37%, transparent 46%), linear-gradient(155deg, transparent 65%, hsl(142, 70%, 49%) 95%), linear-gradient(45deg, #0065e0, #0f8bff);
    //     background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
    //     background-position: bottom left, 109% 68%, 109% 68%, center, center;
    //   }
    // }
  }
}